<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
 <head>
  [% title = "Index of " _ request.path %]
  <title>Index of [% title | html %]</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="[% request.base %]stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id='directory'>
<h1>[% title | html %]</h1>
<hr />
<p class="branch">## [% branch %]</p>
<table class="files">
  <tr>
    <th class='mode'></th>
    <th class='status'></th>
    <th class='left'>Name</th>
    <th class='gh'></th>
    <th class='left'>Commit</th>
    <th class='mtime'>Last Modified</th>
    <th class='right'>Size</th>
  </tr>
  [% FOR file IN files %]
    [% INCLUDE file.html %]
  [% END %]
</table>
<hr/>
<p>origin: <a href="[% gh ? gh : origin %]">[% origin %]</a></p>
<p>
Working copy is [% copy_clean ? "clean" : "<b>not clean</b>" %].
Directory is [% dir_clean ? "clean" : "<b>not clean</b>" %].
</p>
</div>
</body>
</html>
